.root
{
    prompt-color: #a04000;
    greeting-color: #6000b0;
}

.greeting-label
{
    -fx-text-fill: greeting-color;
    -fx-font-size: 32px;
}

.prompt-label
{
    -fx-text-fill: prompt-color;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}